*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
#box{
   width: 390px;
   height: 844px;
   margin: 0px auto;
   box-shadow: 0 0 10px #d0d0d0;
   overflow: hidden;
   overflow: scroll;
}
#box::-webkit-scrollbar{
    width: 1px;
}
#box1{
    width: 100%;
    height: 51px;
}
#a1{
    width: 119.71px;
    height: 24.98px;
    line-height: 51px;
    position: relative;
    top: 5px;
    left: 5px;
}
#a1 img{
   width: 119.71px;
   height: 24.98px;
   line-height: 24.98px;
}
#ack{
   position: relative;
   bottom: 4px;
   left: 15px;
   width: 64.54px;
   height: 20.81px;
   color: #ff3f29;
   font-size: 12px;
   border-radius: 30px;
   border: 1px solid #ff3f29;
   display: inline-block;
   text-align: center;
}
#cc{
   width: 171.81px;
   height: 13.66px;
   border: 1px solid #726b6b;
   display: inline-block;
}
.a2 img{
   position: relative;
   left: 145px;
   width: 13.01px;
   height: 12.8px;
}
#box3{
    width: 390.16px;
    height: 165.38px;
    /* background-color: #909090; */
    /* font-size: 14px; */
}
    .box33{
        width: 89.79px;
        height: 61.88px;
        /* background-color: aqua; */
        position: relative;
        top: -16px;
        display: inline-block;
        text-align: center;
    }
    .xt{
        width: 39.55px;
        height: 39.55px;
        margin-top: 20px;
    }
    .ccc{
        margin-left:25px ;
    }
    #wzyy{
        margin-left: 23px;
    }
    .wzy{
        margin-left: 18px;
        display: inline-block;
        width: 80px;
        height: auto;
    }
    #wz{
        margin-left: 9.5px;
    }
    .br{
        position: relative;
        top: 26px;
        width: 100%;
        height: 12px;
        background-color: #f2f4f7;
    }
    #box4{
        margin-top: 50px;
    }
    #box4 h1{
        font-size: 17px;
        color: #3c4a55;
        margin-left: 15px;
    }
    .cd {
        color: #3C4A55;
        position: relative;
        left: 15px;
        font-weight: 700;
    }
    .img1 img{
        width: 175px;
        height: 98.9px;
        margin-left: 2px;
        position: relative;
        left: 15px;
    }
    .img2 img{
        width: 175px;
        height: 98.9px;
        margin-left: 2px;
        position: relative;
        left: 15px;
    }
    .img3 img{
        width: 175px;
        margin-left: 2px;
        height: 98.9px;
        position: relative;
        left: 15px;
    }
    .siz{
        width: 175px;
        height: 15px;
        position: relative;
        left: 15px;
    }
    .siz1{
        width: 175px;
        position: relative;
        left: 194px;
        top: -15px;
    }
    .box9{
        position: relative;
        top: 50px;
    }
    .kb{
        width: 100%;
        height: 40px;
    }
    .zj a{
        font-weight: 700;
        text-decoration: none;
        color: #3C4A55;
    }
    .zj img{
        width: 359.16px;
        height: 141.57px;
        margin-top: 15px;
    }
    .zj{
        position: relative;
        top: 50px;
        left: 15px;
    }
    #kk{
        width: 100%;
        height: 50px;
    }
    .zj span{
        color: red;
        display: inline-block;
        margin-top: 8px;
    }
    .ko{
        width: 100%;
        height: 25px;
    }
    .nian{
        width: 390px;
        height: 80px;
        background-color: #ffffff;
        text-align: center;
        position: absolute;
        top:800px;
    }
    .nian li{
        width: 31%;
        list-style: none;
        display: inline-block;
    }
    .nian li img{
        width: 30px;
        height: 30px;
    }
    #wz{
        position: absolute;
        left: -20px;
    }