*{margin: 0;padding: 0;list-style: none;}
/* body{background-color: antiquewhite;} */
#bigbox{background-color: rgb(255, 255, 255);width: 390px;height:844px;margin: 0 auto;position: relative;box-shadow: 0 0 10px #d0d0d0;padding: 10px;}
img{width: 130px;height: 90px;}

/* 筛选字体 */
.filterbox{color:rgb(153, 153, 153);font-size: 16px;position: fixed;width: 390px;height: 35px;line-height: 35px;background-color: rgb(255, 255, 255);top: 0;z-index: 5;}
.all{text-align: center;font-size: 16px;}
.all>.qb{width: 35px;height: 35px;line-height: 35px;background-color: rgb(255, 255, 255);position: absolute;top: 0px;right: 125px;color: red;}
/* .all{display: inline-block;position: absolute;left: 53px;color: red;width: 390px;text-align: center;font-size: 16px; } */
.all>.alltext{width: 390px;background-color: rgb(255, 255, 255);position: absolute;right: 0px;display: none;}
.all li:hover{background-color: rgb(217, 217, 217);}
/* 箭头 */
.all>.alljt{color: red;position: absolute;top: 0px;left: 265px;font-weight: 900;font-size: 20px;display: none;}
.all>.alljtx{display: block;}


/* 排序 */
.filterbox>.px{display: inline-block;margin-left: 280px;position: absolute;top: 0px;}
.sort>.zr{width: 35px;height: 35px;line-height: 35px;background-color: rgb(255, 255, 255);position: absolute;top: 0px;right: 20px;text-align: center;font-size: 16px;color: red;}
/* .sort{width: 100px;height: 30px;background-color: blue; display: inline-block;position: absolute;left: 154px;color: red;width: 390px;text-align: center;font-size: 15px;} */
.sort>.sorttext{width: 390px;background-color: rgb(255, 255, 255);position: absolute;right: 0px;display: none;text-align: center;}
.sort li:hover{background-color: rgb(217, 217, 217);}
/* 箭头 */
.sort>.sortjt{color: red;position: absolute;top: 0px;left: 370px;font-weight: 900;font-size: 20px;display: none;}
.sort>.sortjtx{display: block;}


#content{width: 100%;height:809px;background-color: rgb(255, 255, 255);position: relative;top: 35px;overflow: auto;}
/* 隐藏滚动条不显示 */
#content::-webkit-scrollbar{
    width: 0px;
   }

/* 免费 */
#content>.course{width:100%;height: 120px;background-color: rgb(255, 255, 255);border-bottom: 2px solid rgb(227, 227, 227);}
#content>.course>.freeimage{position: absolute;float: left;margin-top: 15px;border-radius: 5%;}
#content>.course>.freetext{width: 249px;background-color: rgb(255, 255, 255);float: left;margin-left:140px;margin-top: 15px;font-size: 16px;}
#content>.course>.pentagram{margin-left: 140px;font-size: 1px;color:rgba(255, 191, 0, 0.993);float: left;}
#content>.course>.freepopulation{margin-left: 195px;font-size: 12px;color: #ccc;}
#content>.course>.free{margin-left: 140px;font-size: 17px;}

/* 收费 */
#content>.course2{width:100%;height: 120px;background-color: rgb(255, 255, 255);border-bottom: 2px solid rgb(227, 227, 227);}
#content>.course2>.chargeimage{position: absolute;float: left;margin-top: 15px;border-radius: 5%;}
#content>.course2>.chargetext{width: 249px;background-color: rgb(255, 255, 255);float: left;margin-left:140px;margin-top: 15px;font-size: 16px;}
#content>.course2>.pentagram{margin-left: 140px;font-size: 1px;color:rgba(255, 191, 0, 0.993);float: left;}
#content>.course2>.chargepopulation{margin-left: 195px;font-size: 12px;color: #ccc;}
#content>.course2>.charge{margin-left: 140px;font-size: 17px;color: red;font-weight: 900;}




/* 会员 */
#content>.course3{width:100%;height: 140px;background-color: rgb(255, 255, 255);border-bottom:2px solid rgb(227, 227, 227);}
#content>.course3>.vipimage{position: absolute;float: left;margin-top: 15px;border-radius: 5%;}
#content>.course3>.viptext{width: 249px;background-color: rgb(255, 255, 255);float: left;margin-left:140px;margin-top: 15px;font-size: 16px;}
#content>.course3>.pentagram{margin-left: 140px;font-size: 1px;color:rgba(255, 191, 0, 0.993);float: left;}
#content>.course3>.chargepopulation{margin-left: 195px;font-size: 12px;color: #ccc;}
#content>.course3>.charge{margin-left: 140px;font-size: 17px;color: red;font-weight: 900;}
#content>.course3>.vip{margin-top: 3px;margin-left: 140px;font-size: 14px;color: rgb(255, 204, 0);background-color: black;width: 30px;height: 15px;line-height: 15px;text-align: center;border-radius:10% 0 0 10%;}
#content>.course3>.vipcharge{margin-left: 170px;font-size: 14px;width: 50px;height: 13px;text-align: center;line-height: 13px;border: 1px solid black;margin-top: -15px;border-radius:0 10% 10% 0;}



