.box{width: 390px;height: 844px;}
#total{width: 95%;height: 30px;line-height: 30px;padding-left: 20px;}
.wz{width: 100%;height: 30px;
   font-size: 13px;
    line-height: 30px;
}
.kc{
    width: 100%;height: 190px;
}
.inp{width: 10%;height: 100%;
    
    text-align: center;
}
input{width: 15px;height: 15px;}
.inp1{width: 15px;height: 15px;margin: 7.5px 12px;}
.tp{width: 100%;height: 100px;
   
    display: flex;
    justify-content: space-between;
   border-bottom: 1px solid #ccc;
}
img{width: 118px;height: 67px;margin-top: 10px;}
.right{width: 90%;height: 100%;
  
    display: flex;
    justify-content: space-between;
}
.left1{width: 35%;height: 100%;}
.right1{width: 50%;height: 100%;}
p{margin: 5px;}
.right2{width: 15%;height: 100%;
    
    text-align: center;
}
.total{width: 100%;height: 45px;
   
    text-align: center;line-height: 45px;
}
.footer{width:390px;height: 50px;background-color: #ccc;position: fixed;bottom: 0;text-align: center;line-height: 50px;}